<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Slides</title>
        <link
            href="https://fonts.googleapis.com/css?family=Material+Icons"
            rel="stylesheet"
        />
        <link
            href="https://cdn.bootcss.com/font-awesome/5.11.2/css/all.min.css"
            rel="stylesheet"
        />
        <style>
            body {
                margin: 0;
                width: 100vw;
                height: 100vh;
            }
            header {
                width: calc(100vw - 48px);
                height: 64px;
                display: flex;
                align-items: center;
                background: #00bcd4;
                color: white;
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
                padding: 0 24px;
            }
            header > h1 {
                margin: 0;
            }
            .space {
                flex-grow: 1;
            }
            .icon-btn {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                padding: 12px;
                cursor: pointer;
                user-select: none;
            }
            .icon-btn > .fab {
                font-size: 24px;
            }
            .icon-btn.light:hover {
                background-color: rgba(0, 0, 0, 0.15);
            }
            .icon-btn.dark:hover {
                background-color: rgba(255, 255, 255, 0.15);
            }
            .icon-btn.primary {
                color: white;
                background-color: #f50057;
            }
            .icon-btn.primary:hover {
                background-color: #f50057;
                filter: brightness(110%);
                box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
                    0px 4px 5px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 10px 0px rgba(0, 0, 0, 0.12);
            }
            .content-scroll {
                overflow: auto;
                height: calc(100vh - 64px);
            }
            .content {
                width: 60%;
                margin: 8px auto;
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
                    0px 2px 2px 0px rgba(0, 0, 0, 0.14),
                    0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                border-radius: 4px;
            }
            .item {
                height: 64px;
                padding: 16px;
                position: relative;
                display: flex;
                align-items: center;
            }
            .item::after {
                position: absolute;
                left: 2.5%;
                bottom: 0;
                content: '';
                display: block;
                width: 95%;
                border-bottom: rgba(0, 0, 0, 0.2) solid 1px;
            }
            .item:last-child::after {
                border: none;
            }
            .item > .main {
                height: 100%;
                flex-grow: 1;
            }
            .item > .main > .title {
                margin: 0;
                font-weight: 500;
            }
            .item > .main > .author {
                margin: 8px 0 0 0;
                font-size: 14px;
            }
            .item > .action-btn-list {
                display: flex;
                align-items: center;
            }
        </style>
        <%- scripts.join('\n') %>
    </head>
    <body>
        <header>
            <h1>Slides</h1>
            <div class="space"></div>
            <div class="icon-btn dark" id="refresh" onclick="refresh()">
                <i class="material-icons">refresh</i>
            </div>
        </header>
        <template lang="html" id="item">
            <div class="item">
                <div class="main">
                    <h2 class="title"></h2>
                    <p class="author">
                        <strong>author:&ensp;</strong><span id="author"></span>
                    </p>
                </div>
                <div class="action-btn-list">
                    <div class="icon-btn primary dark" id="display">
                        <i class="material-icons">airplay</i>
                    </div>
                    <div class="icon-btn light" id="speaker">
                        <i class="material-icons">mic</i>
                    </div>
                    <div class="icon-btn light" id="raw">
                        <i class="material-icons">notes</i>
                    </div>
                    <div class="icon-btn light" id="design">
                        <i class="material-icons">straighten</i>
                    </div>
                </div>
            </div>
        </template>
        <div class="content-scroll">
            <div class="content"></div>
        </div>
        <script>
            let actionList = {
                raw: (ev) => {
                    let slideId =
                        ev.currentTarget.parentElement.parentElement.dataset
                            .uuid
                    window.open(`/slide/${slideId}/index.md`)
                },
                design: (ev) => {
                    let slideId =
                        ev.currentTarget.parentElement.parentElement.dataset
                            .uuid
                    window.open(`/design/${slideId}/`)
                },
                display: (ev) => {
                    let slideId =
                        ev.currentTarget.parentElement.parentElement.dataset
                            .uuid
                    window.open(`/slide/${slideId}/`)
                },
                speaker: (ev) => {
                    let slideId =
                        ev.currentTarget.parentElement.parentElement.dataset
                            .uuid
                    window.open(`/slide/${slideId}/?mode=speaker`)
                },
            }

            function addOnclick(root) {
                for (let el of root.children) {
                    if (!!el.id && !!actionList[el.id]) {
                        el.onclick = actionList[el.id]
                    }
                    if(el.children) {
                        addOnclick(el)
                    }
                }
            }

            async function refresh() {
                let res = await fetch('/list', {
                    cache: 'no-cache',
                })
                let list = await res.json()
                let content = document.querySelector('.content')
                content.innerHTML = ''
                list.map(([uuid, data]) => {
                    let t = document.querySelector('#item')
                    let clone = document.importNode(t.content, true)
                    clone.querySelector('.title').innerText = data.title
                    clone.querySelector('#author').innerText = data.author
                    let slideId = uuid
                    clone.firstElementChild.dataset.uuid = uuid
                    addOnclick(clone.querySelector('.action-btn-list'))
                    content.appendChild(clone)
                })
            }
            refresh()
        </script>
    </body>
</html>
