.slide {
    background: white;
}

* {
    position: relative;
}

.background,
.background-video {
    position: fixed !important;
    left: 0;
    top: 0;
    width: 100vw !important;
    height: 100vh !important;
}

pre.hljs {
    padding: 0;
}

pre.hljs > code {
    font-family: 'Ubuntu Mono', Consolas, 'Courier New', Courier, monospace;
}

div.note {
    display: none;
}

p[data-step-count] {
    margin: 0;
}

.animate-step {
    animation-play-state: paused !important;
}

.animate-step.animated {
    animation-play-state: running !important;
}

pre.render {
    padding: 0;
    border: 0;
}

div.css-doodle {
    display: inline-block;
}

div.echarts {
    display: inline-block;
    width: 100%;
    height: 100%;
}

div.mermaid {
    font-family: 'trebuchet ms', verdana, arial;
    height: 100%;
}
